
<html   xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html" >

<div layout:fragment="site_content" >





    <div class="row mt-5">

        <div class="  card w-100   " >

                <div class="card-header">

                    <img  th:src="${t.getLargePicURL()}" class="w-100  border border-success" height="620"  >

                </div>

            <div class="card-body">
                <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
                <h3> <div class="card-title" th:text="${t.getName()}" > </div></h3>
                <h5 th:text="${t.getPrice() + '$'}"> </h5>
                <div th:text="${t.getDescription()}" ></div>
                <div th:text="${t.getAddedDate()}" ></div>



            </div>
            <div class="card-body " style="border-top: rgba(162,156,156,0.33) 1px solid">


                <span style="font-weight: bold"  th:text="#{label.cat}"></span>:
                <div   th:each="i : ${t.getCategories()}" >
                    <span class="ml-2" th:text="${i.getName()}"></span>

                </div>

            </div>
            <div class=" card-footer w-100">

                <img  th:each="i : ${#numbers.sequence( 1, t.getStars(), 1)}" width="15" height="15" src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png"><img  th:each="i : ${#numbers.sequence( t.getStars(), 4, 1)}" width="15" height="15" src="https://pngimg.com/uploads/star/star_PNG41451.png">


            </div>
            <div class="row" >
                <div class="col-3" th:each="i : ${pics}" >
                    <img th:src="@{'/viewphoto/'+${i.getUrl()}}"  class="m-2 border border-success" style="width: 250px;height: 250px ">

                </div>
            </div>


            <form th:action="@{/toBasket}" method="post">
                <div class="form-group">
                    <input type="hidden" name="item_id" th:value="${t.getId()}">

                    <button type="submit" class=" ml-2 btn btn-warning" th:text="#{label.addbasket}"></button>

                </div>



            </form>   </div>
        <div class="container-fluid shadow mt-3 py-3">
            <div class="container-fluid" sec:authorize="isAuthenticated()">

                <form th:action="@{/write_com}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="item_id" th:value="${t.getId()}">
                        <textarea name="comment" class="form-control" style="width: 100%; height: 150px"></textarea>
                        <button type="submit" class="btn btn-warning float-right my-2" th:text="#{label.com}"></button>

                    </div>



                </form>

            </div>








            <div class="container-fluid">
                <div class="card container-fluid p-5" th:each="i : ${t.getComments()}"  >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img th:src="@{'/viewphoto/'+${i.getAuthor().getUserAvatar()}}"  style="height: 160px" class="img img-rounded img-fluid border border-success"/>
                                <p class="text-secondary text-center" style="font-weight: bold" th:text="${i.getAddedDate()}"></p>
                            </div>
                            <div class="col-md-10">
                                <p>
                                    <strong th:text="${i.getAuthor().getFullName()}"></strong>


                                </p>
                                <div class="clearfix"></div>
                                <div class="container-fluid border border-success" style="height: 80%">
                                <p th:text="${i.getComment()}"></p>
                                </div>
<div sec:authorize="isAuthenticated()">

    <div th:if="${currentUser.getId() == i.getAuthor().getId() }">
        <button th:onclick="editCom([[${i.getComment()}]],[[${i.getId()}]]); " class="btn btn-info mt-2 float-right" data-toggle="modal" data-target="#edCom" th:text="#{label.edit}"> </button>
    </div>
    <!-- ELSE -->
    <div th:unless="${currentUser.getId() == i.getAuthor().getId() }">
        <div sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_MODERATOR')">
            <button th:onclick="editCom([[${i.getComment()}]],[[${i.getId()}]] ); " class="btn btn-info mt-2 float-right" data-toggle="modal" data-target="#edCom" th:text="#{label.edit}"> </button>
        </div>
    </div>
</div>


                                <div class="modal fade" id="edCom" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <form th:action="@{/edcom}" method="post">
                                                    <div class="form-group">

                                                        <input type="hidden" name="id" id="com_id">
                                                        <input type="hidden" name="item_id" th:value="${t.getId()}">
                                                        Comment
                                                        <textarea name="comment" id="com_area" class="form-control" style="width: 100%; height: 150px"></textarea>


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" th:text="#{label.save}"></button>
                                                        <button type="submit" name="del" value="1" class="btn btn-danger" th:text="#{label.delete}" ></button>
                                                    </div>
                                                </form>
                                            </div></div>
                                    </div>
                                </div>






                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>


</div>


</html>