
<html   xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html" >

<div layout:fragment="left" class="container">


    <div class="card mb-5" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <a th:each="br : ${brands}" th:href="@{'/search2?brand=' + ${br.id}}"><li    class="list-group-item" th:text="${br.name}">  </li></a>

        </ul>
    </div>





    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="#{label.allitems}">All items</li>
            <li class="list-group-item" th:text="#{label.phones}">Phones</li>
            <li class="list-group-item" th:text="#{label.laptops}">Laptops</li>
            <li class="list-group-item" th:text="#{label.watches}">Watches</li>
            <li class="list-group-item" th:text="#{label.televisions}">Televisions</li>
            <li class="list-group-item" th:text="#{label.game}">Game consoles</li>
            <li class="list-group-item" th:text="#{label.other}">Other</li>
        </ul>
    </div>
</div>


</html>